@charset "utf-8";

/* 
--------------------
大まかな構成
common
  要素自体へのスタイル反映
  header
  global-nav
  wrap
  content
  footer
  icon
  clearfix
  btn
index
about
-------------------- */


/*
------------------------
common
------------------------ */
body {
  margin: 0; /* m0 */
  padding: 0; /* p0 */
  background-color: #ccc; /* bgc#ccc */
  color: #333; /* c#333 */
  font-size: 15px; /* fz15 */
  line-height: 2; /* lh2 */
}
p,h1,h2,h3,h4,h5,h6 {
  margin-top: 0; /* mt0 */
}
img {
  vertical-align: top; /* vat */
}
ul {
  margin: 0;
  padding: 0;
}
a {
  color: #3583aa; /* c#3583aa */
  text-decoration: none; /* tdn */
  &:visited {
    color: #788d98; /* c#788d98 */
  }
  &:hover {
    color: #788d98;
    text-decoration: underline; /* tdu */
  }
  img:hover {
    opacity: 0.8;
  }
}


h1 {
  font-family: 'bitter', serif;
  font-size: 36px;
  border-bottom: 1px solid  #ccc;
}
h2 {
  font-family: 'bitter', serif;
  font-size: 24px;  
}
section {
  margin-bottom: 35px;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}

/* header */
header {
  max-width: 960px; /* w960 */
  height: 100px; /* h100 */
  margin: 0 auto; /* m0-a */
}
.logo {
  float: left; /* fl */
  margin-top: 50px; /* mt50 */
}

/* global-nav */
.global-nav {
  float: right; /* fr */
  margin-top: 60px; /* mt60 */
  li {
    float: left;
    margin: 0 20px; /* m0-20 */
    font-size: 20px; /* fz20 */
    list-style-type: none; /* lstn */
    font-family: Bitter, serif; /* ff */
    a {
      color: #fff; /* c#fff */
      &:hover {
        border-bottom: 2px solid  #fff; /* bdb2-s-#fff */
        padding-bottom: 3px; /* pb3 */
        text-decoration: none; /* tdn */
      }
    }
  }
}

/* wrap */
#wrap {
  clear: both; /* cb */
  background-color: #fff;
  margin-top: 220px;
  padding: 35px 0;
}
/* content */
.content {
  max-width: 960px; /* w960 */
  margin: 0 auto; /* m0-a */
}
.main-center {
  max-width: 940px;
  margin: 0 auto;
}
/* footer */
footer {
  text-align: center; /* tac */
  color: #fff; /* c#fff */
  padding: 20px 0; /* p20-0 */
  background-color: #767671;
  small {
    font-size: 12px; /* fz12 */
  }
}

/* icon */
.icon:before {
  content: "";
  padding-right: 10px;
  border-left: 7px solid  #9cb4a4;
}

/* clearfix */
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
/* btn */
.btn a {
  background-color: #009cd3; /* bgc#009cd3 */
  color: #fff;  /* c#fff */
  font-size: 20px; /* fz20 */
  font-family: 'Bitter', serif;
  width: 185px; /* w185 */
  display: block; /* db */
  text-align: center; /* tac */
  line-height: 50px; /* lh50px */
  margin-top: 20px; /* mt20 */
  border-radius: 5px; /* bdrs5 */
  border: 3px solid  #009cd3; /* bd3-s-#009cd3 */
  &:hover {
    text-decoration: none; /* tdn */
    background-color: #fff; /* bgc */
    color: #009cd3; /* c#009cd3 */
  }
}

/*
------------------------
index
------------------------ */
#index {
  background: url(../images/bg-index.jpg);
  background-repeat: no-repeat; /* bgrn */
  background-position: center center; /* bgp */
  background-attachment: fixed; /* bgaf */
  background-size: cover; /* bgsc */
  #wrap {
    background-color: transparent;
    margin-top: 0;
    padding: 0;
  }
  h1 {
    font-size: 100px; /* fz100 */
    line-height: 1;  /* lh1 */
    color: #fff;  /* c#fff */
    font-family: 'Bitter', serif; /* ff */
    margin-bottom: 50px; /* mb50 */
    border: none;
  }
  .content {
    margin-top: 150px; /* mt150 */
  }
  p {
    font-size: 16px; /* fz16 */
    color: #fff;  /* c#fff */
  }
  footer {
    background-color: transparent;
  }
  footer {
    max-width: 960px; /* w960 */
  /*  margin: 0 auto;  m0-a */
    text-align: left; /* ta:l */
  /*  margin-top: 150px;  mt150 */
    margin: 150px auto 0 auto; /* m150-a-0-a */
  }
}


/*
------------------------
about
------------------------ */
#about {
  background-image: url(../images/bg-about.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  background-size: 100% auto;
  .profile-txt {
    width: 540px;
    float: left;
    span {
      font-weight: bold;
    }
  }
  .profile-image {
    float: right;
  }
  .career {
    th {
      width: 240px;
      background-color: #f0f0f0;
      padding: 12px 0;
      border: 1px solid  #ccc;
    }
    td {
      width: 660px;
      padding: 12px 40px;
      border: 1px solid  #ccc;
    }
  }
}

/*
------------------------
portfolio
------------------------ */
#portfolio {
  background-image: url(../images/bg-portfolio.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  background-size: 100% auto;
}


.main {
  width: 700px;
  margin: 0 10px;
  float: left;
}

.sidebar {
  width: 200px;
  margin: 0 10px 0 30px;
  float: right;
  font-family: 'Bitter', serif;
  h2 {
    margin-bottom: 10px;
  }
  ul {
    font-size: 16px;
    margin-left: 20px;
    a {
      color: #333333;
    }
  }
}



/*
------------------------
photograph
------------------------ */
#photograph {
  background-image: url(../images/bg-photograph.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  background-size: 100% auto;
}
.photograph-list li {
  float: left;
  list-style: none;
  margin: 0 20px 15px 0;
  &:nth-child(3n) {
    margin-right: 0;
  }
}

/*
------------------------
video
------------------------ */
#video {
  background-image: url(../images/bg-video.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  background-size: 100% auto;
}

/*
------------------------
contact
------------------------ */
#contact {
  background-image: url(../images/bg-contact.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  background-size: 100% auto;
  .access {
    table {
      float: left;
    }
    th,
    td {
      text-align: left;
      vertical-align: top;
      line-height: 2.5;
    }
    td {
      padding-left: 30px;
    }
    iframe {
      width: 460px;
      float: right;
    }
  }
  .form {
    background-color: #eaeaea;
    padding: 30px 50px;
    dl dt {
      width: 165px;
      padding: 10px 0;
      float: left;
      clear: both;
    }
    dl dd {
      padding: 10px 0;
    }
    .name {
      width: 240px;
      height: 30px;
    }
    .email {
      width: 300px;
      height: 30px;
    }

    .tel {
      width: 240px;
      height: 30px;
    }
    .type {
      width: 180px;
      height: 30px;
    }
    .message {
      width: 660px;
      height: 150px;
    }
    button {
      background-color: #009cd3; /* bgc#009cd3 */
      color: #fff;  /* c#fff */
      font-size: 20px; /* fz20 */
      font-family: 'Bitter', serif;
      width: 120px;
      display: block; /* db */
      text-align: center; /* tac */
      line-height: 50px; /* lh50px */
      margin-top: 20px; /* mt20 */
      border-radius: 5px; /* bdrs5 */
      border: 3px solid  #009cd3; /* bd3-s-#009cd3 */
      margin-left: 165px;
      &:hover {
        text-decoration: none; /* tdn */
        background-color: #fff; /* bgc */
        color: #009cd3; /* c#009cd3 */
        cursor: pointer;
      }
    }
    .required:after {
      content: " * ";
      color: #f00;
    }
    .attention {
      margin: 20px 0 0 165px
    }
  }
}

@media screen and (max-width:600px) {
  body {
    font-size: 3.5vw;
  }
  h1 {
    font-size: 7.2vw;
  }
  h2 {
    font-size: 6vw;
  }
  img {
    max-width: 100%;
    vertical-align: top;
  }
  header {
    width: auto;
    margin: 0 5%;
  }
  .logo {
    float: none;
    margin-top: 60px;
    text-align: center;
  }
  .global-nav {
    float: none;
    margin-top: 40px;
    text-align: center;
    li {
      display: inline-block;
      float: none;
      margin: 0 8px;
    }
  }
  #wrap {
    margin-top: 40px;
    padding: 35px 0 1px;
  }
  .content {
    width: 100%;
  }
  .main-center,
  .main {
    float: none;
    width: auto;
    margin: 0 5%;
  }
  h2 img {
    max-width: 100%;
  }
  .sidebar {
    width: auto;
    float: none;
    margin: 0;
    padding: 30px 10% 10px;
    background-color: #f7f6f4;
  }
  
  //individual
  #index {
    h1 {
      font-size: 50px;
    }
    .content {
      box-sizing: border-box;
      padding: 0 5%;
      margin-top: 75px;
    }
    footer {
      margin-top: 75px;
      padding-left: 5%;
      padding-right: 5%;
    }
  }
  #portfolio {
    background-image: url(../images/bg-portfolio-sp.jpg);
  }
  #about {
    .profile-txt {
      float: none;
      width: auto;
    }
    .profile-image {
      float: none;
    }
    .career th {
      width: 30%;
    }
    .career td {
      width: 70%;
      padding: 12px 20px;
    }
  }

  #contact {
    .access {
      th {
        width: 40%;
      }
      td {
        padding-left: 0;
        width: 60%;
      }
      iframe {
        width: 100%;
      }      
    }
    .form {
      padding: 10px;
      dl dt {
        float: none;
        width: auto;
        padding-bottom: 0;
      }
      dl dd {
        margin-left: 0;
        padding-top: 5px;
      }
      .name,
      .email,
      .tel,
      .message,
      .type {
        width: 100%;
        box-sizing: border-box;
        background-color: #fff;
        padding: 5px 10px;
      }
      button,
      .attention{
        margin-left: 0;
      }
    }
  }

  .photograph-list {
    li {
      width: 47%;
      &:nth-child(3n) {
        margin-right: 20px;
      }
      &:nth-child(2n) {
        margin-right: 0;
      }
    }
  }

  .video-wrapper {
    position: relative;
    padding-top: 56.285714286%;
    /* 394 / 700 * 100% = 56.285714286 */
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}