@charset "UTF-8";
/* 
--------------------
大まかな構成
common
  要素自体へのスタイル反映
  header
  global-nav
  wrap
  content
  footer
  icon
  clearfix
  btn
index
about
-------------------- */
/*
------------------------
common
------------------------ */
/* line 25, /Users/codingdesign_mori/Documents/snappers/css/style.scss */
body {
  margin: 0;
  /* m0 */
  padding: 0;
  /* p0 */
  background-color: #ccc;
  /* bgc#ccc */
  color: #333;
  /* c#333 */
  font-size: 15px;
  /* fz15 */
  line-height: 2;
  /* lh2 */ }

/* line 33, /Users/codingdesign_mori/Documents/snappers/css/style.scss */
p, h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  /* mt0 */ }

/* line 36, /Users/codingdesign_mori/Documents/snappers/css/style.scss */
img {
  vertical-align: top;
  /* vat */ }

/* line 39, /Users/codingdesign_mori/Documents/snappers/css/style.scss */
ul {
  margin: 0;
  padding: 0; }

/* line 43, /Users/codingdesign_mori/Documents/snappers/css/style.scss */
a {
  color: #3583aa;
  /* c#3583aa */
  text-decoration: none;
  /* tdn */ }
  /* line 46, /Users/codingdesign_mori/Documents/snappers/css/style.scss */
  a:visited {
    color: #788d98;
    /* c#788d98 */ }
  /* line 49, /Users/codingdesign_mori/Documents/snappers/css/style.scss */
  a:hover {
    color: #788d98;
    text-decoration: underline;
    /* tdu */ }
  /* line 53, /Users/codingdesign_mori/Documents/snappers/css/style.scss */
  a img:hover {
    opacity: 0.8; }

/* line 59, /Users/codingdesign_mori/Documents/snappers/css/style.scss */
h1 {
  font-family: 'bitter', serif;
  font-size: 36px;
  border-bottom: 1px solid  #ccc; }

/* line 64, /Users/codingdesign_mori/Documents/snappers/css/style.scss */
h2 {
  font-family: 'bitter', serif;
  font-size: 24px; }

/* line 68, /Users/codingdesign_mori/Documents/snappers/css/style.scss */
section {
  margin-bottom: 35px; }

/* line 71, /Users/codingdesign_mori/Documents/snappers/css/style.scss */
table {
  border-spacing: 0;
  border-collapse: collapse; }

/* header */
/* line 77, /Users/codingdesign_mori/Documents/snappers/css/style.scss */
header {
  max-width: 960px;
  /* w960 */
  height: 100px;
  /* h100 */
  margin: 0 auto;
  /* m0-a */ }

/* line 82, /Users/codingdesign_mori/Documents/snappers/css/style.scss */
.logo {
  float: left;
  /* fl */
  margin-top: 50px;
  /* mt50 */ }

/* global-nav */
/* line 88, /Users/codingdesign_mori/Documents/snappers/css/style.scss */
.global-nav {
  float: right;
  /* fr */
  margin-top: 60px;
  /* mt60 */ }
  /* line 91, /Users/codingdesign_mori/Documents/snappers/css/style.scss */
  .global-nav li {
    float: left;
    margin: 0 20px;
    /* m0-20 */
    font-size: 20px;
    /* fz20 */
    list-style-type: none;
    /* lstn */
    font-family: Bitter, serif;
    /* ff */ }
    /* line 97, /Users/codingdesign_mori/Documents/snappers/css/style.scss */
    .global-nav li a {
      color: #fff;
      /* c#fff */ }
      /* line 99, /Users/codingdesign_mori/Documents/snappers/css/style.scss */
      .global-nav li a:hover {
        border-bottom: 2px solid  #fff;
        /* bdb2-s-#fff */
        padding-bottom: 3px;
        /* pb3 */
        text-decoration: none;
        /* tdn */ }

/* wrap */
/* line 109, /Users/codingdesign_mori/Documents/snappers/css/style.scss */
#wrap {
  clear: both;
  /* cb */
  background-color: #fff;
  margin-top: 220px;
  padding: 35px 0; }

/* content */
/* line 116, /Users/codingdesign_mori/Documents/snappers/css/style.scss */
.content {
  max-width: 960px;
  /* w960 */
  margin: 0 auto;
  /* m0-a */ }

/* line 120, /Users/codingdesign_mori/Documents/snappers/css/style.scss */
.main-center {
  max-width: 940px;
  margin: 0 auto; }

/* footer */
/* line 125, /Users/codingdesign_mori/Documents/snappers/css/style.scss */
footer {
  text-align: center;
  /* tac */
  color: #fff;
  /* c#fff */
  padding: 20px 0;
  /* p20-0 */
  background-color: #767671; }
  /* line 130, /Users/codingdesign_mori/Documents/snappers/css/style.scss */
  footer small {
    font-size: 12px;
    /* fz12 */ }

/* icon */
/* line 136, /Users/codingdesign_mori/Documents/snappers/css/style.scss */
.icon:before {
  content: "";
  padding-right: 10px;
  border-left: 7px solid  #9cb4a4; }

/* clearfix */
/* line 143, /Users/codingdesign_mori/Documents/snappers/css/style.scss */
.clearfix:after {
  content: "";
  display: block;
  clear: both; }

/* btn */
/* line 149, /Users/codingdesign_mori/Documents/snappers/css/style.scss */
.btn a {
  background-color: #009cd3;
  /* bgc#009cd3 */
  color: #fff;
  /* c#fff */
  font-size: 20px;
  /* fz20 */
  font-family: 'Bitter', serif;
  width: 185px;
  /* w185 */
  display: block;
  /* db */
  text-align: center;
  /* tac */
  line-height: 50px;
  /* lh50px */
  margin-top: 20px;
  /* mt20 */
  border-radius: 5px;
  /* bdrs5 */
  border: 3px solid  #009cd3;
  /* bd3-s-#009cd3 */ }
  /* line 161, /Users/codingdesign_mori/Documents/snappers/css/style.scss */
  .btn a:hover {
    text-decoration: none;
    /* tdn */
    background-color: #fff;
    /* bgc */
    color: #009cd3;
    /* c#009cd3 */ }

/*
------------------------
index
------------------------ */
/* line 172, /Users/codingdesign_mori/Documents/snappers/css/style.scss */
#index {
  background: url(../images/bg-index.jpg);
  background-repeat: no-repeat;
  /* bgrn */
  background-position: center center;
  /* bgp */
  background-attachment: fixed;
  /* bgaf */
  background-size: cover;
  /* bgsc */ }
  /* line 178, /Users/codingdesign_mori/Documents/snappers/css/style.scss */
  #index #wrap {
    background-color: transparent;
    margin-top: 0;
    padding: 0; }
  /* line 183, /Users/codingdesign_mori/Documents/snappers/css/style.scss */
  #index h1 {
    font-size: 100px;
    /* fz100 */
    line-height: 1;
    /* lh1 */
    color: #fff;
    /* c#fff */
    font-family: 'Bitter', serif;
    /* ff */
    margin-bottom: 50px;
    /* mb50 */
    border: none; }
  /* line 191, /Users/codingdesign_mori/Documents/snappers/css/style.scss */
  #index .content {
    margin-top: 150px;
    /* mt150 */ }
  /* line 194, /Users/codingdesign_mori/Documents/snappers/css/style.scss */
  #index p {
    font-size: 16px;
    /* fz16 */
    color: #fff;
    /* c#fff */ }
  /* line 198, /Users/codingdesign_mori/Documents/snappers/css/style.scss */
  #index footer {
    background-color: transparent; }
  /* line 201, /Users/codingdesign_mori/Documents/snappers/css/style.scss */
  #index footer {
    max-width: 960px;
    /* w960 */
    /*  margin: 0 auto;  m0-a */
    text-align: left;
    /* ta:l */
    /*  margin-top: 150px;  mt150 */
    margin: 150px auto 0 auto;
    /* m150-a-0-a */ }

/*
------------------------
about
------------------------ */
/* line 215, /Users/codingdesign_mori/Documents/snappers/css/style.scss */
#about {
  background-image: url(../images/bg-about.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  background-size: 100% auto; }
  /* line 221, /Users/codingdesign_mori/Documents/snappers/css/style.scss */
  #about .profile-txt {
    width: 540px;
    float: left; }
    /* line 224, /Users/codingdesign_mori/Documents/snappers/css/style.scss */
    #about .profile-txt span {
      font-weight: bold; }
  /* line 228, /Users/codingdesign_mori/Documents/snappers/css/style.scss */
  #about .profile-image {
    float: right; }
  /* line 232, /Users/codingdesign_mori/Documents/snappers/css/style.scss */
  #about .career th {
    width: 240px;
    background-color: #f0f0f0;
    padding: 12px 0;
    border: 1px solid  #ccc; }
  /* line 238, /Users/codingdesign_mori/Documents/snappers/css/style.scss */
  #about .career td {
    width: 660px;
    padding: 12px 40px;
    border: 1px solid  #ccc; }

/*
------------------------
portfolio
------------------------ */
/* line 250, /Users/codingdesign_mori/Documents/snappers/css/style.scss */
#portfolio {
  background-image: url(../images/bg-portfolio.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  background-size: 100% auto; }

/* line 259, /Users/codingdesign_mori/Documents/snappers/css/style.scss */
.main {
  width: 700px;
  margin: 0 10px;
  float: left; }

/* line 265, /Users/codingdesign_mori/Documents/snappers/css/style.scss */
.sidebar {
  width: 200px;
  margin: 0 10px 0 30px;
  float: right;
  font-family: 'Bitter', serif; }
  /* line 270, /Users/codingdesign_mori/Documents/snappers/css/style.scss */
  .sidebar h2 {
    margin-bottom: 10px; }
  /* line 273, /Users/codingdesign_mori/Documents/snappers/css/style.scss */
  .sidebar ul {
    font-size: 16px;
    margin-left: 20px; }
    /* line 276, /Users/codingdesign_mori/Documents/snappers/css/style.scss */
    .sidebar ul a {
      color: #333333; }

/*
------------------------
photograph
------------------------ */
/* line 288, /Users/codingdesign_mori/Documents/snappers/css/style.scss */
#photograph {
  background-image: url(../images/bg-photograph.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  background-size: 100% auto; }

/* line 295, /Users/codingdesign_mori/Documents/snappers/css/style.scss */
.photograph-list li {
  float: left;
  list-style: none;
  margin: 0 20px 15px 0; }
  /* line 299, /Users/codingdesign_mori/Documents/snappers/css/style.scss */
  .photograph-list li:nth-child(3n) {
    margin-right: 0; }

/*
------------------------
video
------------------------ */
/* line 308, /Users/codingdesign_mori/Documents/snappers/css/style.scss */
#video {
  background-image: url(../images/bg-video.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  background-size: 100% auto; }

/*
------------------------
contact
------------------------ */
/* line 320, /Users/codingdesign_mori/Documents/snappers/css/style.scss */
#contact {
  background-image: url(../images/bg-contact.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  background-size: 100% auto; }
  /* line 327, /Users/codingdesign_mori/Documents/snappers/css/style.scss */
  #contact .access table {
    float: left; }
  /* line 330, /Users/codingdesign_mori/Documents/snappers/css/style.scss */
  #contact .access th,
  #contact .access td {
    text-align: left;
    vertical-align: top;
    line-height: 2.5; }
  /* line 336, /Users/codingdesign_mori/Documents/snappers/css/style.scss */
  #contact .access td {
    padding-left: 30px; }
  /* line 339, /Users/codingdesign_mori/Documents/snappers/css/style.scss */
  #contact .access iframe {
    width: 460px;
    float: right; }
  /* line 344, /Users/codingdesign_mori/Documents/snappers/css/style.scss */
  #contact .form {
    background-color: #eaeaea;
    padding: 30px 50px; }
    /* line 347, /Users/codingdesign_mori/Documents/snappers/css/style.scss */
    #contact .form dl dt {
      width: 165px;
      padding: 10px 0;
      float: left;
      clear: both; }
    /* line 353, /Users/codingdesign_mori/Documents/snappers/css/style.scss */
    #contact .form dl dd {
      padding: 10px 0; }
    /* line 356, /Users/codingdesign_mori/Documents/snappers/css/style.scss */
    #contact .form .name {
      width: 240px;
      height: 30px; }
    /* line 360, /Users/codingdesign_mori/Documents/snappers/css/style.scss */
    #contact .form .email {
      width: 300px;
      height: 30px; }
    /* line 365, /Users/codingdesign_mori/Documents/snappers/css/style.scss */
    #contact .form .tel {
      width: 240px;
      height: 30px; }
    /* line 369, /Users/codingdesign_mori/Documents/snappers/css/style.scss */
    #contact .form .type {
      width: 180px;
      height: 30px; }
    /* line 373, /Users/codingdesign_mori/Documents/snappers/css/style.scss */
    #contact .form .message {
      width: 660px;
      height: 150px; }
    /* line 377, /Users/codingdesign_mori/Documents/snappers/css/style.scss */
    #contact .form button {
      background-color: #009cd3;
      /* bgc#009cd3 */
      color: #fff;
      /* c#fff */
      font-size: 20px;
      /* fz20 */
      font-family: 'Bitter', serif;
      width: 120px;
      display: block;
      /* db */
      text-align: center;
      /* tac */
      line-height: 50px;
      /* lh50px */
      margin-top: 20px;
      /* mt20 */
      border-radius: 5px;
      /* bdrs5 */
      border: 3px solid  #009cd3;
      /* bd3-s-#009cd3 */
      margin-left: 165px; }
      /* line 390, /Users/codingdesign_mori/Documents/snappers/css/style.scss */
      #contact .form button:hover {
        text-decoration: none;
        /* tdn */
        background-color: #fff;
        /* bgc */
        color: #009cd3;
        /* c#009cd3 */
        cursor: pointer; }
    /* line 397, /Users/codingdesign_mori/Documents/snappers/css/style.scss */
    #contact .form .required:after {
      content: " * ";
      color: #f00; }
    /* line 401, /Users/codingdesign_mori/Documents/snappers/css/style.scss */
    #contact .form .attention {
      margin: 20px 0 0 165px; }

@media screen and (max-width: 600px) {
  /* line 408, /Users/codingdesign_mori/Documents/snappers/css/style.scss */
  body {
    font-size: 3.5vw; }
  /* line 411, /Users/codingdesign_mori/Documents/snappers/css/style.scss */
  h1 {
    font-size: 7.2vw; }
  /* line 414, /Users/codingdesign_mori/Documents/snappers/css/style.scss */
  h2 {
    font-size: 6vw; }
  /* line 417, /Users/codingdesign_mori/Documents/snappers/css/style.scss */
  img {
    max-width: 100%;
    vertical-align: top; }
  /* line 421, /Users/codingdesign_mori/Documents/snappers/css/style.scss */
  header {
    width: auto;
    margin: 0 5%; }
  /* line 425, /Users/codingdesign_mori/Documents/snappers/css/style.scss */
  .logo {
    float: none;
    margin-top: 60px;
    text-align: center; }
  /* line 430, /Users/codingdesign_mori/Documents/snappers/css/style.scss */
  .global-nav {
    float: none;
    margin-top: 40px;
    text-align: center; }
    /* line 434, /Users/codingdesign_mori/Documents/snappers/css/style.scss */
    .global-nav li {
      display: inline-block;
      float: none;
      margin: 0 8px; }
  /* line 440, /Users/codingdesign_mori/Documents/snappers/css/style.scss */
  #wrap {
    margin-top: 40px;
    padding: 35px 0 1px; }
  /* line 444, /Users/codingdesign_mori/Documents/snappers/css/style.scss */
  .content {
    width: 100%; }
  /* line 447, /Users/codingdesign_mori/Documents/snappers/css/style.scss */
  .main-center,
  .main {
    float: none;
    width: auto;
    margin: 0 5%; }
  /* line 453, /Users/codingdesign_mori/Documents/snappers/css/style.scss */
  h2 img {
    max-width: 100%; }
  /* line 456, /Users/codingdesign_mori/Documents/snappers/css/style.scss */
  .sidebar {
    width: auto;
    float: none;
    margin: 0;
    padding: 30px 10% 10px;
    background-color: #f7f6f4; }
  /* line 466, /Users/codingdesign_mori/Documents/snappers/css/style.scss */
  #index h1 {
    font-size: 50px; }
  /* line 469, /Users/codingdesign_mori/Documents/snappers/css/style.scss */
  #index .content {
    box-sizing: border-box;
    padding: 0 5%;
    margin-top: 75px; }
  /* line 474, /Users/codingdesign_mori/Documents/snappers/css/style.scss */
  #index footer {
    margin-top: 75px;
    padding-left: 5%;
    padding-right: 5%; }
  /* line 480, /Users/codingdesign_mori/Documents/snappers/css/style.scss */
  #portfolio {
    background-image: url(../images/bg-portfolio-sp.jpg); }
  /* line 484, /Users/codingdesign_mori/Documents/snappers/css/style.scss */
  #about .profile-txt {
    float: none;
    width: auto; }
  /* line 488, /Users/codingdesign_mori/Documents/snappers/css/style.scss */
  #about .profile-image {
    float: none; }
  /* line 491, /Users/codingdesign_mori/Documents/snappers/css/style.scss */
  #about .career th {
    width: 30%; }
  /* line 494, /Users/codingdesign_mori/Documents/snappers/css/style.scss */
  #about .career td {
    width: 70%;
    padding: 12px 20px; }
  /* line 502, /Users/codingdesign_mori/Documents/snappers/css/style.scss */
  #contact .access th {
    width: 40%; }
  /* line 505, /Users/codingdesign_mori/Documents/snappers/css/style.scss */
  #contact .access td {
    padding-left: 0;
    width: 60%; }
  /* line 509, /Users/codingdesign_mori/Documents/snappers/css/style.scss */
  #contact .access iframe {
    width: 100%; }
  /* line 513, /Users/codingdesign_mori/Documents/snappers/css/style.scss */
  #contact .form {
    padding: 10px; }
    /* line 515, /Users/codingdesign_mori/Documents/snappers/css/style.scss */
    #contact .form dl dt {
      float: none;
      width: auto;
      padding-bottom: 0; }
    /* line 520, /Users/codingdesign_mori/Documents/snappers/css/style.scss */
    #contact .form dl dd {
      margin-left: 0;
      padding-top: 5px; }
    /* line 524, /Users/codingdesign_mori/Documents/snappers/css/style.scss */
    #contact .form .name,
    #contact .form .email,
    #contact .form .tel,
    #contact .form .message,
    #contact .form .type {
      width: 100%;
      box-sizing: border-box;
      background-color: #fff;
      padding: 5px 10px; }
    /* line 534, /Users/codingdesign_mori/Documents/snappers/css/style.scss */
    #contact .form button,
    #contact .form .attention {
      margin-left: 0; }
  /* line 542, /Users/codingdesign_mori/Documents/snappers/css/style.scss */
  .photograph-list li {
    width: 47%; }
    /* line 544, /Users/codingdesign_mori/Documents/snappers/css/style.scss */
    .photograph-list li:nth-child(3n) {
      margin-right: 20px; }
    /* line 547, /Users/codingdesign_mori/Documents/snappers/css/style.scss */
    .photograph-list li:nth-child(2n) {
      margin-right: 0; }
  /* line 553, /Users/codingdesign_mori/Documents/snappers/css/style.scss */
  .video-wrapper {
    position: relative;
    padding-top: 56.285714286%;
    /* 394 / 700 * 100% = 56.285714286 */ }
    /* line 557, /Users/codingdesign_mori/Documents/snappers/css/style.scss */
    .video-wrapper iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; } }

/*# sourceMappingURL=style.css.map */